.mq-box {
   flex: 1;
   min-width: 0;
   min-height: 40px;
}

.mq-box .mq-editable-field {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

.sidebar {
  width: 20vw;
  min-width: 150px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-shrink: 0;
  resize: horizontal; 
  overflow: auto;
}